<h1>JetFuel</h1>
<p>
<%= form_for @url, url: {action: "create"} do |f| %>
  <%= f.label "URL" %>
  <%= f.text_field :long %>
  <%= f.submit "Shorten URL" %>
<% end %>
</p>
<h2>Sorted By Popularity</h2>
<table>
  <tr>
    <th>Long Url</th>
    <th>Short Url</th>
    <th>Title</th>
    <th>Count</th>
  </tr>
  <% @urls_count.each do |single_url| %>
    <tr>
      <td><%= single_url.long %></td>
      <td><%= link_to single_url.short, single_url.long %></td>
      <td><%= single_url.title %></td>
      <td><%= single_url.count %></td>
    </tr>
  <% end %>
</table>
<h2>Sorted by Date</h2>
<table>
  <tr>
    <th>Long Url</th>
    <th>Short Url</th>
    <th>Title</th>
    <th>Count</th>
  </tr>
  <% @urls_date.each do |single_url| %>
    <tr>
      <td><%= single_url.long %></td>
      <td><%= link_to single_url.short, single_url.long %></td>
      <td><%= single_url.title %></td>
      <td><%= single_url.count %></td>
    </tr>
  <% end %>
</table>
